.imageUploader {
  background-color: #f2f1ed !important;
  /* visibility: hidden; */
}

.uploadButton {
  background-color: #e76f51 !important;
  font-weight: 500 !important;
  border: 2px solid #264653 !important;
}

.uploadButton:hover {
  border: none !important;
}
.fileContainer {
  background-color: #f2f1ed !important;
  box-shadow: none;
  padding: none !important;
  height: 1rem;
}

.error {
  color: red;
}

.hidden {
  visibility: hidden;
}
