.main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.explore {
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.welcome {
  padding-top: 30px;
  border-bottom: 2px white solid;
  padding-bottom: 30px;
}

.card {
  margin-top: 10px;
}

.row {
  padding-bottom: 15px;
}

.btnCust {
  background-color: #f75c03 !important;
  font-weight: 500 !important;
  border: 3px solid #2a9d8f !important;
}

.btnCust:hover {
  color: white !important;
}
