.main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.explore {
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.welcome {
  padding-top: 30px;
  border-bottom: 2px white solid;
  padding-bottom: 30px;
}

.card {
  margin-top: 10px;
}

.row {
  padding-bottom: 15px;
}
