.playerCard {
  width: 30rem;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 50px;
  box-shadow: rgba(0, 0, 0, 0.35) 10px 25px 15px;
  background-color: #f2f1ed !important;
  padding-top: 20px;
  border: 5px solid #2a9d8f !important;
  border-radius: 5% !important;
}

.playerCard .card-text {
  padding: 10px 0px;
}
.playerCard .card-img-top {
  border: 5px solid #2a9d8f;
  background-color: #2a9d8f;
  border-radius: 15%;
  max-width: 200px;
}

.jersey {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 800;
}

.statHeader {
  font-weight: bolder;
}

.playerCard ul {
  list-style-type: none;
}

.statItem {
  background-color: #f2f1ed;
  padding: 4px;
}
